<div class="card">
    <div class="">
        <div class="card-header">
            Lista Alumunos
        </div>
        
       <div class="card-body">
        <div class="row">
            <div class="col-md-2">Fitrar por:</div>
            <div class="col-md-4">
                <input type="text" class="form-control" [(ngModel)]="listFilter">
            </div>
        </div>
        <div class="row">
            <div class="col-mf-6">
              <h3>Filtro: {{listFilter}}</h3>
            </div>
        </div>
       </div>

        <div class="col-md-6">
            <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th> <button class="btn btn-outline-primary" (click)="mostrarImagen()">Mostrar Imagen</button></th>
                    <th>Matricula</th>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Correo</th>
                    <th>Pago</th>
                    <th>Foto</th>
                  </tr>
                </thead>
                <tbody *ngFor="let alumno of  alumnos">
                    <tr>
                        <td>{{alumno.matricula}}</td>
                        <td>{{alumno.nombre}}</td>
                        <td>{{alumno.edad}}</td>
                        <td>{{alumno.correo}}</td>
                        <td>{{alumno.pago}}</td>
                        <td> <img *ngIf="muestraImg"  [src] = 'alumno.foto' [title]="alumno.nombre" [style.width.px]="ImagenWith" ></td>
                    </tr>


                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>